<!DOCTYPE html>
<html>

<style>

#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

</style>

<head>
	<title>CS 355 Airlines</title>
</head>



<body>

<div id="header">
CS355 Airline
</div>


<div id="nav">
<a href="/">About</a><br>
<a href="/flight/all">Search Flights</a><br>
<a href="/planes/select">View Fleet</a><br>
<a href="/locations/all">Locations Serviced</a><br>
<a href="/passengers/new">Add Passenger</a><br>
<a href="/passengers/all">Edit Passenger</a><br>
</div>


<div id="section">
<h1>Locations Serviced</h1>
Click on an airport to see the flights departing from that location!

<% if (rs.length > 0) { %>
	<table>
	<tr>
	<th>Airport</th>
	<th>City</th>
	<th>Country</th>
	</tr>
	<% for (var i =0; rs.length > i; i++) { %>
		<tr>
			<td> <a href = "/locations/?airportid=<%= rs[i].AirportID %>"><%= rs[i].AirportID %></a></td>
			<td> <%= rs[i].City %></td>
			<td> <%= rs[i].Country %></td>
		</tr>
	<% } %>
	</table>
<% } %>





<div id="footer">
	Copyright © CS355 Airlines
</div>
</body>
</html>
